
# PDFs
*.pdf
*.PDF

# Python Build/Dist
build/
dist/
*.egg-info/
.eggs/
*.whl
pip-wheel-metadata/

# Bytecode & Caches
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
htmlcov/

# Venvs
.venv/
venv/
env/

# IDE
.idea/
.vscode/
.idea/Free-PDF-Tool.iml
.idea/misc.xml
